version: "3.9"
services:
  postgres:
    image: postgres:latest
    container_name: postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - ./config/postgres_custom:/docker-entrypoint-initdb.d
      - ./data/postgres_data:/var/lib/postgresql/data
    networks:
      - smart_home_network

  influxdb:
    image: influxdb:latest
    container_name: influxdb
    ports:
      - "8086:8086"
    environment:
      INFLUXDB_ADMIN_USER: ${INFLUXDB_ADMIN_USER}
      INFLUXDB_ADMIN_PASSWORD: ${INFLUXDB_ADMIN_PASSWORD}
      INFLUXDB_BUCKET: ${INFLUXDB_BUCKET}
    volumes:
      - ./config/influxdb_custom:/docker-entrypoint-initdb.d
      - ./data/influxdb_data:/var/lib/influxdb
    networks:
      - smart_home_network

  mqtt-broker:
    image: eclipse-mosquitto:latest
    container_name: mqtt-broker
    ports:
      - "1883:1883"
    volumes:
      - ./config/mosquitto_custom:mosquitto.conf
    networks:
      - smart_home_network

  publisher:
    build:
      context: ./publish
    container_name: publisher
    depends_on:
      - redis
      - mqtt-broker
      - postgres
    volumes:
      - ./publish:/app
      - ./encryption_key_user1.key:/app/encryption_key_user1.key
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - POSTGRES_HOST=postgres
      - POSTGRES_PORT=5432
      - MQTT_BROKER_HOST=mqtt-broker
      - MQTT_BROKER_PORT=1883
    networks:
      - smart_home_network

  subscriber:
    build:
      context: ./subscribe
    container_name: subscriber
    depends_on:
      - redis
      - mqtt-broker
      - postgres
    volumes:
      - ./subscribe:/app
      - ./encryption_key_user1.key:/app/encryption_key_user1.key
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - POSTGRES_HOST=postgres
      - POSTGRES_PORT=5432
      - MQTT_BROKER_HOST=mqtt-broker
      - MQTT_BROKER_PORT=1883
    networks:
      - smart_home_network

  redis:
    image: redis:latest
    container_name: redis-server
    ports:
      - "6379:6379"
    networks:
      - smart_home_network
      
  grafana:
    image: grafana/grafana
    container_name: grafana
    ports:
      - "3000:3000"
    volumes:
      - ./config/telegraf_custom:/docker-entrypoint-initdb.d
      - ./data/grafana_data:/var/lib/grafana 
    environment:
      GF_SECURITY_ADMIN_USER: ${GF_SECURITY_ADMIN_USER} 
      GF_SECURITY_ADMIN_PASSWORD: ${GF_SECURITY_ADMIN_PASSWORD}
    depends_on:
      - postgres
      - influxdb
    networks:
      - smart_home_network

volumes:
  postgres_data:
  influxdb_data:

networks:
  smart_home_network:
    driver: bridge
